.banner-wrapper{
    padding: 0.5rem 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 90vh;
    /* background: #f9f9f9; */

}
.banner-content-inner{
    max-width: 460px;
}
.banner-content-inner h1{
    /* display: flex;
    justify-content: start; */
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.banner-content-inner h1 span{
    color: var(--pink);
}
.banner-content-inner p{
    font-size: 16px;
    color: var(--gray);
    line-height: 1.36;
    margin-bottom: 10px;
}
.home-btn{
    margin: 10px 0;
}


.social-icon{
    margin:2rem 0;
    display: flex;
    gap:0rem;

}

.social-icon a{
    /* transform: scale(0.5); */
    font-size: 18px;
    color:var(--pink);
    padding: 8px 10px;
    /* padding: 5px 8px; */
    cursor: pointer;
}

.social-icon a:hover{
    font-size: 18px;
    background:var(--pink);
    padding: 8px 10px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    color: #fff;
}


/* Banner/ banner-images  */

.banner-images{
    width: 100%;
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}
.banner-images>*{
    position: absolute;
    content: " ";
    z-index: 1;
   
}
.banner-images .shape1{
    border-radius: 46% 54% 68% 32% / 37% 40% 60% 63%  ;
/* border-radius:20% 11% 69% 69% / 69% 70% 100% 30%  ; */
    background: var(--pink2);
    width:450px;
    height: 403px;
}

/* .banner-images .banner-img{
    overflow-x: hidden;
} */
.banner-images .banner-img img{
    position: relative;
    object-fit: contain;
}
.banner-images .banner-img img{
    border-radius: 46% 54% 68% 32% / 37% 40% 60% 63%  ;
  position: relative;
    transform: scale(1.2);          ;
    top:-30px;
   left:10%;
  
    /* position: absolute;
    content:" ";
    top:-10px;
    left: 20px; */
}
/* .banner-images> :nth-child(1){
    transform: scale(0.69);
    left: -15%;
    top:-9%;
}
.banner-images> :nth-child(2){
    transform: scale(0.67);
    left: -3rem;
    top:-4.6rem;
} */
/* .banner-images> :nth-child(3){
    transform: scale(1.4);
    left: 28%;
  
} */